USE [master]
GO
/****** Object:  Database [GymSystemDB]    Script Date: 5/25/2026 4:03:40 PM ******/
CREATE DATABASE [GymSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GymSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GymSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GymSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GymSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymSystemDB]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 5/25/2026 4:03:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DurationMonths] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 5/25/2026 4:03:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[JoinDate] [date] NOT NULL,
	[PlanID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[ImageName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MEMBERS_VIEW]    Script Date: 5/25/2026 4:03:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MEMBERS_VIEW] AS
SELECT 
    m.MemberID,
    m.FirstName,
    m.LastName,
    m.Phone,
    m.JoinDate,
    p.PlanName,
    p.Price,
    p.DurationMonths
FROM [Member] m
LEFT JOIN [Plan] p ON m.PlanID = p.PlanID
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/25/2026 4:03:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [FirstName], [LastName], [Phone], [JoinDate], [PlanID], [IsActive], [ImageName]) VALUES (1, N'Hassan', N'Nass', N'80449942', CAST(N'2026-05-20' AS Date), 2, 1, NULL)
INSERT [dbo].[Member] ([MemberID], [FirstName], [LastName], [Phone], [JoinDate], [PlanID], [IsActive], [ImageName]) VALUES (2, N'John', N'Doe', N'76226677', CAST(N'2026-05-20' AS Date), 3, 1, NULL)
INSERT [dbo].[Member] ([MemberID], [FirstName], [LastName], [Phone], [JoinDate], [PlanID], [IsActive], [ImageName]) VALUES (3, N'Sarah', N'test', N'71173570', CAST(N'2026-05-20' AS Date), 4, 0, N'')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Plan] ON 

INSERT [dbo].[Plan] ([PlanID], [PlanName], [Price], [DurationMonths], [Description]) VALUES (1, N'Monthly Basic', CAST(30.00 AS Decimal(10, 2)), 1, N'Access to gym floor only')
INSERT [dbo].[Plan] ([PlanID], [PlanName], [Price], [DurationMonths], [Description]) VALUES (2, N'Monthly Premium', CAST(60.00 AS Decimal(10, 2)), 1, N'Full access + classes + locker')
INSERT [dbo].[Plan] ([PlanID], [PlanName], [Price], [DurationMonths], [Description]) VALUES (3, N'Quarterly Basic', CAST(80.00 AS Decimal(10, 2)), 3, N'3-month gym floor access')
SET IDENTITY_INSERT [dbo].[Plan] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Role], [CreatedAt]) VALUES (1, N'admin', N'admin123', N'Admin', CAST(N'2026-05-12T16:49:00.807' AS DateTime))
INSERT [dbo].[User] ([UserID], [Username], [Password], [Role], [CreatedAt]) VALUES (4, N'hassan', N'hassan123', N'Staff', CAST(N'2026-05-14T21:06:12.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4BDD1646C]    Script Date: 5/25/2026 4:03:40 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Staff') FOR [Role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD FOREIGN KEY([PlanID])
REFERENCES [dbo].[Plan] ([PlanID])
GO
USE [master]
GO
