<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="db" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GymSystemDB;Integrated Security=True" />
  <add name="GymManagement_Project.Properties.Settings.GymSystemDBConnectionString"
   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GymSystemDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>